#headerContainer{
    position: fixed;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 30px 0px 90px;
    top: 0;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 98;

    #headerTitle{
        font-size: 24px;
        font-weight: 600;
        color: #808080;
    }

    .divUser{
        display: flex;
        align-items: center;
        gap: 10px;
        
        .userName{
            font-size: 16px;
            font-weight: 600;
            color: #808080;
            cursor: default;
        }

        .btnUser{
            background: #fff;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            color: #808080;
            font-size: 12;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
            cursor: pointer;
        }

        .btnUser:hover{
            background: #f8f9fa;
            color: #00A39C;
        }
    }
}


.userDropdown {
    position: absolute;
    top: 50px;
    right: 30px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    animation: fadeIn 0.2s ease-in-out;
    z-index: 99;
    overflow: hidden;

    .dropdownUsername {
        font-weight: 600;
        color: #333;
        width: 100%;
        text-align: center;
        margin: 0;
        font-size: 18px;
        padding-block: 5px;
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: 5px;
    }

    .dropdownOptions {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;

        .dropdownLink {
            display: flex;
            align-items: center;
            gap: 8px;
            background: none;
            border: none;
            color: #333;
            padding: 8px 12px;
            border-radius: 8px;
            width: 200px;
            text-align: left;
            cursor: pointer;
            transition: background 0.2s;
            font-weight: 500;
            text-decoration: none;
        }

        .dropdownLink:hover {
            background-color: #f0f0f0;
        }

        .dropdownLogout {
            display: flex;
            align-items: center;
            gap: 8px;
            background: none;
            border: none;
            color: #333;
            padding: 8px 12px;
            border-radius: 8px;
            width: 200px;
            text-align: left;
            cursor: pointer;
            transition: background 0.2s;
            font-weight: 500;
        }

        .dropdownLogout:hover {
            background-color: #f0f0f0;
            color: rgb(157, 0, 0);
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}