.loginPage{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .btnVoltar{
        position: fixed;
        top: 20px;
        left: 20px;

        button{
            border: none;
            background: none;
            color: #023c66;
        }

        button:hover{
            color: #00A39C;
        }
    }

    .containerLogin{
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

        h2{
            color: #023c66;
            text-align: center;
        }

        form{
            display: flex;
            flex-direction: column;
            padding: 0;
            background: #fff;
            margin: 15px 0 8px 0;
            
            input{
                background: #fff;
                border: none;
                margin-bottom: 20px;
                padding: 8px;
                border-radius: 8px;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
            }

            input:focus{
                outline: solid 2px #023c66;
            }

            button{
                border-radius: 8px;
                background: #023c66;
                padding: 6px;
                border: solid #023c66;
                color: #fff;
                font-weight: bold;
            }

            button:hover{
                background: #fff;
                color: #023c66;
            }
        }

        .textoRodape{
            margin-top: 8px;

            p{
                margin: 0;
            }

            .linksCadastro{
                display: flex;
                justify-content: space-evenly;
                
                a{
                    color: #023c66;
                    font-weight: bolder;
                    text-decoration: none;
                }

                a:hover{
                    color: #00A39C;
                    text-decoration: underline;
                }
            }
        }
    }
}
