#navContainer{
    background: linear-gradient(to bottom, #00A39D, #00D6E5);
    height: 100vh;
    width: 60px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    bottom: 0;
    border-radius: 0px 18px 0px 0px;
    transition: width 0.3s ease;
    overflow: hidden;
    z-index: 1000;

    span{
        opacity: 0;
        white-space: nowrap;
        transition: opacity 0.2s ease 0.15s;
        width: 0px;
    }

    #logoNav{
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 60px;
        transition: width 0.3s ease;
        
        .iconNav{
            display: flex;
            width: 30px;
            overflow: hidden;
            transition: width 0.3s ease;

            img{
                height: 30px;
                object-fit: cover;
                width: auto;
                object-position: left;
            }
        }
    }

    .navbar{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        background: none;
        padding: 12px 0px;
        align-items: flex-start;
        justify-content: space-between;

        .iconNav{
            width: 60px;
            flex-shrink: 0 /*Para o icone não mexer*/
        }

        span{
            background: none;
        }

        #links{
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;

            a{
                text-decoration: none;
                color: white;
                padding: 15px 0px;
                background: none;
                display: flex;
                align-items: center;
                font-weight: normal;
            }

            a:hover{
                background: #ffffff37;
            }
        }

        #btnUserOptions{
            width: 100%;
            color: white;
            padding: 15px 0px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        #btnUserOptions:hover{
            background: #ffffff37;
        }

        button{
            background: none;
            cursor: pointer;
            color: #fff;
            padding: 10px 0px;
            width: 100%;
            display: none;
            align-items: center;
            justify-content: center;
            border: none;
        }

        button:hover{
            background-color: #ffffff37;
        }
    }
}

/*Expandido*/
#navContainer:hover{
    width: 200px;

    #logoNav{
        width: 200px;

        .iconNav{
            width: 150px;
        }
    }
    
    span{
        opacity: 1;
        width: auto;
    }

    .navbar{
        button{
            justify-content: flex-start;
        }
    }
}