.homePage{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: 
        linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url('../../assets/images/backgroundhome.jpg') center/cover no-repeat;

    #menu{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 50px;
        box-sizing: border-box;
        height: 60px;

        #logo{
            color: #00A39C;
            font-size: large;
            font-weight: bold;
        }

        #nav{
            button{
                padding: 5px 15px;
                background-color: #00A39C;
                border: hidden;
                border-radius: 0.375rem;
            }

            button:hover{
                background: #00514d;
            }
        }
    }

    .homeContent{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        width: 100vw;

        h1{
            color: #00A39C;
        }

        p{
            color: #676767;
        }
    }
}

