.infoContainer{
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    .tituloContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2{
            color: #808080;
        }

        button.editar {
            background: #00a39d;
            border-radius: 8px;
            border: none;
            color: white;
            padding: 5px 15px;
            font-weight: 600;
        }

        button.cancelar {
            background: #808080;
            border-radius: 8px;
            border: none;
            color: white;
            padding: 5px 15px;
            font-weight: 600;
        }
    }

    .info{
        margin-top: 20px;
        border-top: 1px solid #e0e0e0;
        padding-top: 15px;

        h3{
            color: #808080;
            margin-bottom: 10px;
            font-size: 20px;
            text-decoration: underline;
            text-underline-offset: 3px;
        }

        p{
            color: #808080;
            margin: 4px 0;
            height: 34px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 5px;

            .inputEditando{
                border: 1px solid #ccc;
                box-sizing: border-box;
                border-radius: 8px;
                padding: 5px;
                font-size: 16px;
                max-width: 300px;
                flex-grow: 1;
                height: 95%;
            }

            .inputEditando:focus{
                outline: none;
                border: solid 2px #00a39d;
            }
        }
    }

    .btnSalvarInfo{
        margin-top: 20px;
        background: #00a39d;
        border-radius: 8px;
        border: none;
        color: white;
        padding: 5px 20px;
        font-weight: 600;
    }
}